  @import url('https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu&display=swap');
   
@font-face {
    font-family:"urdu-font";
    src: url(Al\ Qalam\ Kolkatta\ Quranic\ font\ Regular.ttf);
}


*{
    padding: 0%;
    margin: 8px;
    font-family: sans-serif;
    font-weight: bold;
}


.main{
    text-decoration: underline;
    color: blue;
    font-size: 40px;
    text-align: center;
}
div{
    font-size: 30px;
    line-height: 60px;
}
.italic{
    font-style: italic;
}
.urdu-font{
    font-size: 25px;
    text-align: right;
    font-family: "Noto Nastaliq";
}
.urdu-font2{
    font-size: 35px;
    text-align: right;
    font-family:"urdu-font";

}